<p>
<% form_for(@upload_data, :html => { :multipart => true, :method => :post }) do |f| %>
  <%= f.label t('upload_data.data_file') %> 
  <%= f.file_field :data_file %>
  <%= f.submit t('upload_data.upload_button'), :class => "button" %>
<% end %>
</p>
