body {
    background-color: #fff;
    color: #333;
    padding: 0 0 0 0;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

div.uploadStatus {
    margin: 5px;
}

div.progressBar {
    margin: 5px;
}

div.progressBar div.border {
    background-color: #fff;
    border: 1px solid gray;
    width: 100%;
}

div.progressBar div.background {
    background-color: #333;
    height: 18px;
    width: 0%;
}

ol.menu {
    margin: 0;
    padding: 0;
}

ol.menu li {
    padding: 0 5px;
    list-style: none inside;
    color: #fff;
    display: inline-block;
    margin: 0;
}

/* table less forms */
.formtastic label {
	display: block;
    float: left;
	width: 100px;
	padding-left: 0px;
	padding-top: 9px;
}

.formtastic textarea {
    width: 250px;
    height: 150px;
}

.formtastic ol {
    padding: 0;
}

.formtastic li {
    list-style: none;
}

ul.info {
    list-style: none;
}

.header {
    font-weight: bold;
    margin-right: 5px;
}

/* ### Login ### */

fieldset.inputs, fieldset.buttons {
	border: 0;
	padding: 0;
}

.inline-errors {
	font-size: 11px;
	color: red;
	text-align: right;
	padding-right: 100px;
}

li.commit {
margin-left:120px;
}

#new_user_session {
	padding: 10px;
	display: block;
	width: 330px;
	background-color: #f1f3ff;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#user_session_email_input, #user_session_password_input {
	font-size:11px;
	padding-top:2px;
}

#user_session_email, #user_session_password {
	display: inline-block;
	border: 1px solid #DDDDDD;
	font-size: 12px;
	padding: 8px;
	width: 200px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

#user_session_submit {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-x-system-font:none;
	background:#a2a9e1 url(/images/button.png) repeat-x scroll 0 0;
	border:1px solid #a2a9e1;
	color:#333355;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	padding:8px 10px;
	text-align:center;
	text-decoration:none;
}

/* end of ### Login ### */