<% title t('users.index.title') %>

<h1><%= t('users.index.heading') %></h1>

<% table_for User, @users, :name, :created_at, :updated_at do |user|
    [
            link_to(user.name, user),
            user.created_at,
            user.updated_at,
            link_to(t('users.index.edit_link'), edit_user_path(user)),
            link_to(t('users.index.delete_link'), user, :confirm => t('users.index.delete_confirmation'), :method => :delete)
    ]
end %>

<%= link_to t('users.index.new_link'), new_user_path %>
