<% title t('users.index.title') %>

<h1><span class="h1"><%= t('users.index.heading') %></span></h1>

<%= render :partial => "layouts/table_beginning" %>
<% table_for User, @users, :name, :created_at, :updated_at do |user|
    [
            link_to(user.name, user),
            user.created_at,
            user.updated_at,
            link_to(image_tag("icons/edit.png"), edit_user_path(user)),
            link_to(image_tag("icons/destroy.png"), user, :confirm => t('users.index.delete_confirmation'), :method => :delete)
    ]
end %>
<%= render :partial => "layouts/table_end" %>

<%= link_to t('users.index.new_link'), new_user_path, :class=>"button" %>
