<%= render :partial => "common/date_range_select", :locals => {:object => @department, :url => :department_projects_path, :tab => "projects"} %>
<div id="projects">
  <%= render :partial => "projects_table" %>
</div>
