<% title t('departments.edit.title') %>

<h1><span class="h1"><%= t('departments.edit.heading') %></span></h1>

<%= render :partial => 'form' %>

<%= back_link t('departments.edit.back_link'), department_path(@department.id), :class=>"button" %>
