<% title t('departments.edit.title') %>

<h1><%= t('departments.edit.heading') %></h1>

<% semantic_form_for(@department) do |form| %>
    <%= render :partial => form %>
    <%= form.buttons %>
<% end %>

<%= link_to t('departments.edit.back_link'), departments_path %>