<% title t('departments.index.title') %>

<h1><%= t('departments.index.heading') %></h1>

<% table_for Department, @departments, :name, :leader do |department|
    [
            link_to(department.name, department),
            department.leader.name,
            link_to(t('departments.index.edit_link'), edit_department_path(department)),
            link_to(t('departments.index.delete_link'), department, :confirm => t('departments.index.delete_confirmation'), :method => :delete)
    ]
end %>

<%= link_to t('departments.index.new_link'), new_department_path %>
