<% title t('projects.edit.title') %>

<h1><span class="h1"><%= t('projects.edit.heading') %></span></h1>

<%= render :partial => "form" %>

<%= back_link t('projects.edit.back_link'), project_path(@project.id), :class=>"button" %>
