<% title t('projects.index.title') %>

<h1><span class="h1"><%= t('projects.index.heading') %></span></h1>

<%= render :partial => "layouts/table_beginning" %>
<% table_for Project, @projects, linked(:name), linked_to(:leader), tail_link(image_tag("icons/edit.png"), :edit),
            tail_link(image_tag("icons/destroy.png"), :confirm => t('projects.index.delete_confirmation'), :method => :delete) %>
<%= render :partial => "layouts/table_end" %>

<%= link_to t('projects.index.new_link'), new_project_path, :class=>"button" %>
