<% title t('projects.index.title') %>

<h1><span class="h1"><%= t('projects.index.heading') %></span></h1>

<% table_for Project, @projects, :name, :leader do |project|
    [
            link_to(project.name, project),
            project.leader.name,
            link_to(image_tag("icons/edit.png"), edit_project_path(project)),
            link_to(image_tag("icons/destroy.png"), project, :confirm => t('projects.index.delete_confirmation'), :method => :delete)
    ]
end %>

<%= link_to t('projects.index.new_link'), new_project_path, :class=>"button" %>
