<% title t('projects.new.title') %>

<h1><span class="h1"><%= t('projects.new.heading') %><span></h1>

<%= render :partial => "form" %>

<%= link_to t('projects.new.back_link'), projects_path, :class=>"button" %>